.body {
  margin: 0;
  padding: 0;
  background: url("https://t3.ftcdn.net/jpg/02/21/36/48/360_F_221364834_GsaULQoVVobdJBHCrGHq3SFeO4FMzO66.jpg");
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 20%;
  position: relative;
  
}

.h1 {
  color:white;
  text-shadow: 2.5px 2.5px black;
  text-align: center;
  font-family:'Poppins';
  font-size: 75px;
  text-emphasis-style:bold;
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  background-color: rgba(233, 196, 106, 0.4);
  
}

.h2 {
    color:white;
    text-shadow: 2.5px 2.5px black;
  text-align: center;
  font-family:'Poppins';
  font-size: 45px;
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  background-color: rgba(231, 111, 81, 0.4);
} */

p {
  font-family:'Poppins';
  font-size: 15px;
  color:black
    
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.image-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}

.image-container img {
    max-width: 48%
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button {
   
    background-color:white;
    color:black;
    padding: 15px 50px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(244,162,97); 
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(244,162,97),
                0 0 10px 0 rgb(244,162,97),
                0 0 10px 0 rgb(244,162,97) inset;
  font-family:'Poppins';
  font-size: 25px;
  color:black
}

.button:hover {
    background-color:rgb(67, 192, 67);
    box-shadow: 0 0 10px 0 rgb(67, 192, 67),
                0 0 10px 0 rgb(67, 192, 67),
                0 0 10px 0 rgb(67, 192, 67) inset;
    border: 2px solid rgb(67, 192, 67); 

    color: white;
}

